.vertical-banner-container {
  overflow-y: auto;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}

.vertical-banner-content {
  display: flex;
  flex-direction: column;
  position: relative;
  animation: scroll 10s linear infinite;
}

.vertical-banner-item {
  width: 300px;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
